language: python

python:
- '3.7'

service:
- docker

branches:
  except:
  - flux-sync-refractr-prod
  - flux-sync-refractr-stage

before_install:
- pip install awscli

git:
  clone: false

install:
- git clone https://github.com/$TRAVIS_REPO_SLUG $TRAVIS_REPO_SLUG
- cd $TRAVIS_REPO_SLUG
- git checkout -qf $TRAVIS_COMMIT
- git fetch --unshallow --tags
- pip install doit
- pip install -r requirements.txt

script:
  # this step will build, test and publish (if appropriate)
  # publish will only push to ECR once merged to master
- doit publish

env:
  global:
  - secure: N9mMBcKRn+UjpvBD86Cfw2pxNO0B0l3ThAwIUOXaj5MBt3SFZYaFYlQXcYkI12nh55WH45gn3VaCpJyj4vVJR+aLwQqlsSZuyB3sq9WXAcb0Kpzz/J6SyNEqZZyRF9s6D3EHcmGlKE6b4azyM4xeiEDllyKzA7CPm17xSUcqglZYUJZGiOYT9+EZrf+VFI1E54S2ovAFHX5Wy83bb8Ct62vv8/lXaoL2AeAz12CR0w11PvDtKBRBBc8GrW1HUCVN9TN2+3UOPp4ErZTjIsVh6guYZvVDUVbaak19FeVTU9EpmC+Xvp8udmyz3E09jUXs5C3GzVNGG8IW3VEZueYY0yyl0eS1lij+bmjowJGpaKU9nuqwOCf0cz8pD6GK3Ecfw1Kz1mxUiAmmPL1wcb+pEIEOFruRgXshN2dh/H2N+6Cqjk3Q3r9nawH56gqbb4EswPNYpuVXtfM159/S79LKGfdYuelGBesXyUxOTa8Q6kVn6oXIMftZ27Nd10VeGnrcbe3TkW4tb5UXd6fsw4g3vxaRJVxZ7uS9TR+iQJZmz28Lav88gR5S+XMoEpuFpE1I5/J6rog+hfUqGAmF6cLxIutYmDS6TtK7H+3CcQcmeatxqmp8PXuPltcqiOTcd4O5x0Ji0MURzinUJcjodR3DR9Sfb8tbVyPFfJHtj1NYlRs=
  - secure: wavItUHlf+/WRif2+pCkcrqXHnn3lG9FHs2Pjts2TFzG9pbUQy4fszRgdEudhvN2r2gyQ48FGuTfI0+xtFoBVveduWaNELJrXAYAiSn3HMgFIn40hQQ7hajHyXF8wIsWHLtw/J1FGCNbZTQlXMPFXOJcDKwymPNCoT0bLjr9BzoQBSdHX4ElmDfoERrVOt8KcMFvFpMxD7agaSYOAXLHvX95BQO3oUxwyf6BKFawVnMklzOkJ0MHCKJ8fkeeQ6GLiUhBRP9unTEUP38+jdrQhkJNkBXnSROPmvmK7MQmngrAFYsYEEcEBlzs/qzNeOf3+g86NTSdVO8SzPGkSwfpzQWiPvPPMlEUTXecRJiywljyUvlOqrhunvdoKEBS1NO/6KjBxr0NaO+5HpEFgmSnQHb8Zd7kmDjrWXCFlRHja2tESAmuE4dDZyQMtHVHDlMUIHlh61Dsq6rV1iv2XDbQm6QHnY4tgZjHxfuJIs2+Gdq/+/ognF97OqzC0oxWA6QHrO0MjEqXOv57ywoAHB/WbT60KchxKHbw7NDRoEw7EGVC00F+TBF2QhfG1ZeBTWwnLcUBMDa0PNEDT5UayPzsUcCApr3B+fNOHdDY5bOJdaE3skWxq7zB+2cz1gv5V4t+WJ+hV/1p1OAlxmGc+asn5y1psapxhc0Uf1WPSN1/vKU=
