aiohttp
awscli
doit
jinja2
jsonschema
leatherman
nginx-config-builder
pytest
python-decouple
ruamel.yaml
tldextract
google-api-core
google-auth
google-cloud-certificate-manager
googleapis-common-protos