name: pre-commit

on:
  pull_request: {}
  push:
    branches: main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install pre-commit
        shell: bash
        run: uv tool install pre-commit --with pre-commit-uv
      - run: pre-commit run --show-diff-on-failure --color=always --all-files
        shell: bash
